* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.theme-light {
  --background-primary: #fff;
  --text-primary: #2c2c2c;
  --text-secondary: #fff;
  --button-primary-enabled: #22a;
  --button-primary-hover: #008;
}

.theme-dark {
  --background-primary: #2c2c2c;
  --text-primary: #fff;
  --text-secondary: #2c2c2c;
  --button-primary-enabled: #22a;
  --button-primary-hover: #008;
}